*{
    margin: 0px;
    padding: 0;
    font-family:Arial;
    box-sizing: border-box;
 
}

.navbar{
    padding: 0 9px 0 9px;
    display: flex;
    height: 60px;
    background-color: #131921;
    align-items: center;
    justify-content: space-evenly;
    
}

.nav{
    height: 50px;
    width: 130px;
}

.navlogo{
    background-image: url("Amazon-Logo-Download-PNG-Image.webp");
    height: 50px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}

.border{
    border: 2px solid transparent ;
}

.border:hover{
    border: 2px solid white;
}

.locationn{ 
    padding-top: 4px;
    flex-flow:row nowrap;
    display: flex;
    position: static;
    align-items:center;
    width: 200px;
    height: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    
}

.top{
    color: #cccc;
    font-size: 12px;
}

.bottom{
    padding-right: 25px;
    font-size: 14px;
    color: #ffff;
    font-weight: 700;

}

.search{
    justify-content: space-evenly;
    border: none;
    display: flex;
    width: 400px;
    height: 50px;
    background-color: #febd69;
    border-radius: 8px;
}

.select{
    background-color: #f3f3f3;
    width: 50px;
    text-align:center;
    font-weight: 700;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
}

.enter{
    width:  100%;
    font-size: 18px;
    border: none;
}

.icon{
    width: 45px;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;   
}

.origin{
    background-color: #131921;
    display: flex;
}


.logo{
    font-size: 21px;
    display:flex ;
    align-self: center;
    justify-content: center;
}
.lang{
    border: none;
    font-size: 21px;
    width: 45px;
    height: 45px;
    background-color: #131921;
    color: #f3f3f3;
}

.userdata{
    display: flex;
    justify-content :left;
    align-items: center;
    color: white;
    height: 50px;
    width: fit-content;
}

.firstline{
    margin-left: 5px;
    color: #ffff;
    font-size: 14px;
}

.opt{
    font-size: 14px;
    border: none;
    background-color: #131921;
    color: #f3f3f3;
    font-weight: 900;
}


.orderdetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f3f3f3;
    font-size: 14px;
    height: 50px;
}

.first{
    margin-right: 27px;
    font-size: 12px;
}

.sec{
    font-size: 14px;
    font-weight: 900;
}

.cart i {

    position: relative;
    height: 40px;
    color: #f3f3f3;
    font-size: 30px;
}

.cart{
    display: flex;
    align-items:end ;
    justify-content: center;
    flex-direction: row;
    height: 50px;
    width: 80px;
    color: #f3f3f3;
    font-size: 0.99rem;
    font-weight: 700;
}

.panel{
    font-size: 18px;
    justify-content: space-evenly;
    height: 40px;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    color: #f3f3f3;
}

.panel-opt p {
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
    display: inline;
}

.panel-opt{
    font-size: 0.85rem;
    width :70%;
}

.panel -deals{
    font-weight: 600;
    font-size: 0.9rem;
}

.hero-section{
    position: relative;
    overflow: hidden;
    height: 400px;
}

.hero-slider{
    display: flex;
    height: 100%;
    transition: transform 1s ease-in-out;
}

.hero-message{
    position: absolute;
    width: 95%;
    top: 90%;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;   
    height: 50px;
    z-index: 5;
    font-size: 15px;
    color: black;
    background-color: white;
    text-align: center;
    font-weight: 700;
}

.hero-img{
    min-width: 100%;
    object-fit: cover;
    object-position: top center;
    height: 400px;
    background-color: black;
}

.arrow {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    background: rgba(0,0,0,0.4);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    z-index: 10;
}

.arrow.left{
    left:20px;
}

.arrow.right{
    right: 20px;
}

.arrow:hover{
    background-color: rgba(0,0,0,0.6);
}

.box{
    padding: 15px;
    height: 300px;
    width: 24%;
    background-color: white;
}


.shop-section{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f3f3f3;
    background-repeat: no-repeat;

}

.box-img{
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1 rem;
}


.box-content{
    margin-left: 1rem;
    margin-right:1rem;
}

footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

.panel-2{
    display: flex;
    justify-content: space-evenly;
    color: #f3f3f3;
    height: 500px;
    background-color: #232f3e;
}

ul{
    margin-top: 20px;
}

p{
    font-size: 1rem;
    font-weight: 700;
    text-decoration: underline;
}

ul a   {
    font-size: 1rem;
    margin-top: 10px;
    display: block;
    color: #ddd;

}

.panel-3{
    background-image: url("Amazon-Logo-Download-PNG-Image.webp");
    height: 70px;
    display: flex;
    justify-content: center;

    width: 100%;
    background-size: contain ;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #232f3e;
    border-top: 0.5px solid white;
    
}

.panel-4{

    font-size: 14px;
    height: 80px ;
    text-align: center;
    background-color:  #0f1111; 
    color: #f3f3f3;
    font-size: 0.9rem;
}
.pages{
    padding-top:25px ;
}
.copyright {
    padding-top: 7px;
}